.home-wrapper {
  flex-grow: 1;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.movie-wrapper {
  position: relative;
  flex-grow: 1;
}

.movie-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  height: calc(100% - 350px - 55px);
}

.movie-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 1rem;
}

.movie-poster {
  max-height: 350px;
}

.movie-button {
  flex-shrink: 0;
}
